# vscode
.vscode/

# dependencies
node_modules/
.local-auth/

# Expo
.expo/
dist/
web-build/

# build
build/
*.apk
*.aab
*.ipa

# keys
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# certificates
*.pem

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# TypeScript
*.tsbuildinfo

# Expo generated
expo-env.d.ts
